aiofiles==0.5.0
aniso8601==7.0.0
asgiref==3.2.7
asn1crypto==1.3.0
async-exit-stack==1.0.1
async-generator==1.10
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
conda==4.8.3
conda-package-handling==1.6.0
cryptography==2.8
cycler==0.10.0
dataclasses==0.7
Django==3.0.3
dnspython==1.16.0
email-validator==1.0.5
fastapi==0.54.1
graphene==2.1.8
graphql-core==2.3.1
graphql-relay==2.0.1
h11==0.9.0
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.14.1
kiwisolver==1.1.0
llvmlite==0.31.0
MarkupSafe==1.1.1
matplotlib==3.1.3
menuinst==1.4.16
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numba==0.48.0
numpy==1.18.1
olefile==0.46
orjson==2.6.5
pandas==0.20.3
Pillow==6.2.1
promise==2.3
py4j==0.10.7
pycosat==0.6.3
pycparser==2.20
pydantic==1.5
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyparsing==2.4.6
PySocks==1.7.1
python-dateutil==2.8.1
python-multipart==0.0.5
pytz==2019.3
pywin32==227
PyYAML==5.3.1
requests==2.23.0
ruamel-yaml==0.15.87
Rx==1.6.1
scipy==1.4.1
six==1.14.0
SQLAlchemy==1.3.16
sqlparse==0.3.1
starlette==0.13.2
tornado==6.0.4
tqdm==4.45.0
ujson==2.0.3
urllib3==1.25.8
uvicorn==0.11.3
websockets==8.1
win-inet-pton==1.1.0
wincertstore==0.2
